# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\webAssignments\Assignment7 Imaage Slide\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
