# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\webAssignments\Assignment4 Responsive Web Site\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
